.Div-historia-1{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #000000;
  }
  .Div-historia-2{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #000000;
  }
  .titulo{
    background-color: rgb(53, 53, 53);
    color: white;
  }